/*Typography Classes*/

.font-poppins {
	font-family: $font-poppins;
}

.font-opensans {
	font-family: $font-opensans;
}

.font-s-12 {
	font-size: 12px;
}

.font-s-13 {
	font-size: 13px;
}

.font-s-14 {
	font-size: 14px;
}

.font-s-15 {
	font-size: 15px;
}

.font-s-16 {
	font-size: 16px;
}

.font-s-17 {
	font-size: 17px;
}

.font-s-18 {
	font-size: 18px;
}

.font-s-20 {
	font-size: 20px;
}

.font-s-24 {
	font-size: 24px;
}

.font-s-25 {
	font-size: 25px;
}

.font-s-30 {
	font-size: 30px;
}

.font-s-40 {
	font-size: 40px;
}

.font-s-50 {
	font-size: 50px;
}

.font-s-60 {
	font-size: 60px;
}

.font-s-70 {
	font-size: 70px;
}

.font-w-400 {
	font-weight: 400;
}

.font-w-500 {
	font-weight: 500;
}

.font-w-600 {
	font-weight: 600;
}

.font-w-700 {
	font-weight: 700;
}

.font-w-800 {
	font-weight: 800;
}

.font-w-900 {
	font-weight: 900;
}
