@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/*Sass Template*/
/*Global Classes*/
button, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/*Typography Classes*/
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-opensans {
  font-family: "Open Sans", sans-serif;
}

.font-s-12 {
  font-size: 12px;
}

.font-s-13 {
  font-size: 13px;
}

.font-s-14 {
  font-size: 14px;
}

.font-s-15 {
  font-size: 15px;
}

.font-s-16 {
  font-size: 16px;
}

.font-s-17 {
  font-size: 17px;
}

.font-s-18 {
  font-size: 18px;
}

.font-s-20 {
  font-size: 20px;
}

.font-s-24 {
  font-size: 24px;
}

.font-s-25 {
  font-size: 25px;
}

.font-s-30 {
  font-size: 30px;
}

.font-s-40 {
  font-size: 40px;
}

.font-s-50 {
  font-size: 50px;
}

.font-s-60 {
  font-size: 60px;
}

.font-s-70 {
  font-size: 70px;
}

.font-w-400 {
  font-weight: 400;
}

.font-w-500 {
  font-weight: 500;
}

.font-w-600 {
  font-weight: 600;
}

.font-w-700 {
  font-weight: 700;
}

.font-w-800 {
  font-weight: 800;
}

.font-w-900 {
  font-weight: 900;
}

/*Color Template*/
.color-primary {
  color: #222529;
}

.color-secondary {
  color: #ffdc48;
}

/*Custom Buttons*/
.btn-head {
  border: none;
  border-radius: 0%;
  color: white;
  width: 90px;
  padding: 7px;
  background-color: #222529;
}

.btn-head:hover {
  border: none;
  border-radius: 0%;
  color: white;
  width: 90px;
  padding: 7px;
  background-color: #32373d;
}

.btn-banner {
  border: none;
  border-radius: 0%;
  color: white;
  background-color: #222529;
}

.btn-banner:hover {
  border: none;
  border-radius: 0%;
  color: white;
  background-color: #2a2e33;
}

.btn-banner-light {
  border: none;
  border-radius: 0%;
  color: #222529;
  background-color: white;
}

.btn-banner-light:hover {
  border: none;
  border-radius: 0%;
  color: #222529;
  background-color: #f2efef;
}

.btn-coll {
  border: 3px solid #2a2e33;
  border-radius: 0%;
  padding: 10px;
  background-color: none;
}

.btn-coll:hover {
  border: 3px solid #2a2e33;
  border-radius: 0%;
  padding: 10px;
  color: #f2efef;
  background-color: #2a2e33;
}

.btn-add {
  border-radius: 0%;
  padding: 8px;
  color: #f2efef;
  background-color: #2a2e33;
}

.btn-add:hover {
  border-radius: 0%;
  padding: 8px;
  color: #2a2e33;
  background-color: #ffdc48;
}

.btn-sub {
  border-radius: 75px;
  padding: 10px;
  color: #2a2e33;
  background-color: #ffdc48;
}

.btn-sub:hover {
  border-radius: 75px;
  padding: 10px;
  color: #2a2e33;
  background-color: #ffdc48;
}

.size-btn {
  color: #a7a7a7;
  border-radius: 0%;
}

.size-btn:hover {
  background-color: #ffdc48;
  color: #222529;
  border-radius: 0%;
}

.active1 {
  background-color: #ffdc48;
  color: white;
  border: black;
}

/*# sourceMappingURL=style.css.map */
